<div fxLayout="row" fxLayout.xs="column">
  <div fxLayout.gt-xs="row" fxLayout.xs="column" fxFlex="100%" class="dash-info">
    <app-line-chart [height]="500" [width]="500" class="m-auto" ></app-line-chart>
  </div>
  <div fxLayout.gt-xs="row" fxLayout.xs="column" fxFlex="100%" class="dash-info">
    <app-pie-chart [height]="500" [width]="500" class="m-auto" ></app-pie-chart>
  </div>
</div>
<div fxLayout="row" fxLayout.xs="column">
  <div fxLayout.gt-xs="row" fxLayout.xs="column" fxFlex="100%" class="dash-info">
    <app-bar-chart [height]="500" [width]="500" class="m-auto" ></app-bar-chart>
  </div>
  <div fxLayout.gt-xs="row" fxLayout.xs="column" fxFlex="100%" class="dash-info">
    <table mat-table [dataSource]="dataSource" >

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Descrição </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="produced">
        <th mat-header-cell *matHeaderCellDef> Produzido </th>
        <td mat-cell *matCellDef="let element"> {{element.produced}} Kg</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="wasted">
        <th style="width: 20%;" mat-header-cell *matHeaderCellDef> Desperdiçado </th>
        <td mat-cell *matCellDef="let element"> {{element.wasted}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
