span.mt-20{
  margin-bottom: 10px;
  font-weight: 500;
}

.container{
  padding: 30px;
}

.form-container{
  padding: 0;
  margin-top: 20px;
  width: 100%;
}
.btnSaveHistory{
  margin-top: 20px;
  max-width: 120px;
  color: #ffffff;
  background-color: #969FAA;
}

.container-forecast{
  padding: 0;
}

.container-forecast{
  margin-right: 50px;
}
