<div class="container">
  <div class="component-title">
    <span>Desenvolvido por B.O.I.S. Company</span>
    <hr>
</div>
</div>
<div class="container container-center">
  <mat-card class="about-card">
    <mat-card-header>
      <div mat-card-avatar class="about-header-image boi1"></div>
      <mat-card-title>Thiago Gomes</mat-card-title>
      <mat-card-subtitle>081160040</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src='../../assets/images/boi1.jpg'>
    <mat-card-content>
      <span class="about-description">Rei do Gado</span>
    </mat-card-content>
  </mat-card>
  <mat-card class="about-card">
    <mat-card-header>
      <div mat-card-avatar class="about-header-image boi2"></div>
      <mat-card-title>Lucas Feitoza</mat-card-title>
      <mat-card-subtitle>081160049</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src='../../assets/images/boi2.jpg'>
    <mat-card-content>
      <span class="about-description">BOI Fullstack</span>
    </mat-card-content>
  </mat-card>
  <mat-card class="about-card">
    <mat-card-header>
      <div mat-card-avatar class="about-header-image boi3"></div>
      <mat-card-title>Deivid Cardoso</mat-card-title>
      <mat-card-subtitle>081160034</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src='../../assets/images/boi3.jpg'>
    <mat-card-content>
      <span class="about-description">BOI Designer</span>
    </mat-card-content>
  </mat-card>
  <mat-card class="about-card">
    <mat-card-header>
      <div mat-card-avatar class="about-header-image boi4"></div>
      <mat-card-title>Lucas Bittencourt</mat-card-title>
      <mat-card-subtitle>081160038</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src='../../assets/images/boi4.jpg'>
    <mat-card-content>
      <span class="about-description">BOI Tester</span>
    </mat-card-content>
  </mat-card>
  <mat-card class="about-card">
    <mat-card-header>
      <div mat-card-avatar class="about-header-image boi5"></div>
      <mat-card-title>Giovanni Mallia</mat-card-title>
      <mat-card-subtitle>081160048</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src='../../assets/images/boi5.jpg'>
    <mat-card-content>
      <span class="about-description">BOI Requisitos</span>
    </mat-card-content>
  </mat-card>
</div>
