<div class="container">
  <div class="component-title">
      <span>Histórico de Refeições</span>
      <hr>
  </div>

  <div>
      <div>
        <table mat-table [dataSource]="dataSource" fxFlex="100%">

          <ng-container matColumnDef="dateHour">
            <th mat-header-cell *matHeaderCellDef>Data</th>
            <td mat-cell *matCellDef="let element"> {{element.dateHour}} </td>
          </ng-container>

          <ng-container matColumnDef="totalForecast">
            <th mat-header-cell *matHeaderCellDef>Total Previsto</th>
            <td mat-cell *matCellDef="let element"> {{element.totalForecast}} </td>
          </ng-container>

          <ng-container matColumnDef="totalProduced">
            <th mat-header-cell *matHeaderCellDef>Total Produzido</th>
            <td mat-cell *matCellDef="let element"> {{element.totalProduced}} </td>
          </ng-container>

          <ng-container matColumnDef="totalWasted">
              <th mat-header-cell *matHeaderCellDef>Total Produzido</th>
              <td mat-cell *matCellDef="let element"> {{element.totalWasted}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef style="text-align: center; width: 160px;">Ações</th>
                <td mat-cell *matCellDef="let element" style="text-align: center;">
                  <button mat-stroked-button color="primary" (click)="updateHistory(element)" >Editar</button>
                  <button mat-stroked-button color="warn" (click)="deleteHistory(element)"  >Excluir</button>
                </td>
              </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>
