<!-- <h1 *ngIf="user" >Bem vindo, {{user.name}}</h1> -->
<mat-grid-list cols="1" rows="10" rowHeight="10%">
    <mat-grid-tile rowspan="6" class="firstRow alignLeft">
        <!-- Bem vindo, {{user.name}} -->
        <div class="no-waste-info">
          <div class="no-waste-content">
              <h1>
                  Evite o desperdício de alimentos na sua instituição.
              </h1>
              <span>
                  Registre-se e comece a utilizar o no-waste. Com recursos de inteligência artificial, ajudamos você a evitar o desperdício de alimentos.
              </span>
              <div class="btnRegistrar">
                  <button  mat-button routerLink="/" class="bgDarkGray">Registrar</button>
              </div>
          </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile rowspan="4">
        <!-- Bem vindo, {{user.name}} -->
        <div class="w-50 text-center">
            <span class="lblFatos">
                Fatos sobre o desperdício de alimentos no Brasil
            </span>
        </div>
        <div class="w-50">
            <div class="no-waste-video">
                <h2 *ngIf="user.name" class="text-center">
                  {{user.name}}
                </h2>
            </div>
          </div>
    </mat-grid-tile>
  </mat-grid-list>
